
<html>
    <script type="text/javascript">
	    var canvas, ctx, flag = false,
	        prevX = 0,
	        currX = 0,
	        prevY = 0,
	        currY = 0,
	        dot_flag = false;

	    var x = "black",
	        y = 2;
	    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        ctx.clearRect(0, 0, w, h);
        document.getElementById("canvasimg").style.display = "none";
    }
    
    function getImage() {
    	var canvas = document.getElementById('can');
   		document.getElementById('inp_img').value = canvas.toDataURL();
   		alert();
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    </script>

    <head>
    	<title>Kannada Digit recoginition</title>
    	<h1>Just write the digit. </h1>
    	<h6>if you need help, <a href="#" value="click here" style='color: blue' onclick="document.getElementById('referenceImage').style.display='inline'">click here</a></h6>
    </head>
    
    <body onload="init()">
	    <form action="process_request" method="POST" onsubmit="getImage()" name="canvas">
        	<canvas id="can" width="280" height="280" style="top:10%;left:10%;border:2px solid;"></canvas>
        	<img id="canvasimg" style="top:10%;left:52%;" style="display:none;">
	        <br>
	        <!--<img src='' display='none' id='inp_img' name='imagefile'>-->
	        <input type="hidden" value="" name="imagefile" id='inp_img'>
	        <button type="submit" id="btn">Submit</button>
	        <input type="button" value="clear" id="clr" size="23" onclick="erase()">
	    </form>
    	<img src='/static/reference_image.jpg' style='display: none' alt="reference_image" id='referenceImage'>
    </body>
    </html>

